<div class="task_detail">
  <label>任务主题：</label><input class="detail_title" type="text" [(ngModel)]="task.title" [disabled]="true" placeholder="请输入任务主题">
  <label>任务描述：</label><textarea class="detail_content"  rows="5" cols="40" [(ngModel)]="task.content" [disabled]="true" placeholder="请对任务进行描述">

  </textarea>
  <div class="task_detail_type">
    <label>任务类型：</label>
    <span *ngIf="task.isComplete == 1" style="color: red">未完成任务</span>
    <span *ngIf="task.isComplete == 2">已完成任务</span>
  </div>
  <div class="task_operate_button">
    <button pButton type="button" (click)="goBack()" label="<返回"></button>
  </div>
</div>
