.single_task{
  width: 240px;
  height: 190px;
  border: 1px solid #cec4c4;
  padding: 5px;
  box-shadow: 2px 2px 5px #ad9c9c;
  margin: 20px;
  display: inline-block;
}
.single_task h3{
  margin-top: 0;
}
.single_task .task_content{
  height: 106px;
  position: relative;
}
.single_task .task_content_area{
  height: 85px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.operate_task span{
  margin-right: 5px;
}
.task_content .creat_time{
  position: absolute;
  bottom: 0;
  right: 0;
}
.operate_task{
  margin-top: 20px;
}
.operate_task .delete_task, .edit_task{
  cursor:pointer;
}

