<div class="single_task" *ngFor="let task of taskList">
  <h3>{{task.title}}</h3>
  <div class="task_content">
    <div class="task_content_area">{{task.content}}</div>
    <span class="creat_time">{{task.createTime | date: 'yyyy-MM-dd'}}</span>
  </div>
  <div class="operate_task">
    <button class="ui-button-success" pButton *ngIf="task.isComplete*1 !== 2" class="edit_task" (click)="doEdit(task)" label="编辑"></button>
    <button class="edit_task ui-button-info"  pButton (click)=" viewDetail(task)" label="查看"></button>
    <button class="ui-button-error delete_task"  pButton (click)="deleTask(task)" label="删除" ></button>
  </div>
  <popup #popup1 (confirmClick)="confirm(task)" (cancelClick)="doCancel()">
    确定删除该任务？
    <br>
  </popup>
</div>
<!--<p-growl [(value)]="msgs"gt;</p-growl>-->
<div *ngIf="taskList && taskList.length == 0">
  <img src="/assets/noFind.png" alt="">
</div>
